* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c7cdd3;

}

.card {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;

}

.card-front,
.card-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;

}

.flip {
    transform: rotateY(180deg);
    cursor: not-allowed;

}

.card-front {
    background-color: #101c2c;
    transform: rotateY(180deg);
    
}

.card-back {
    background-color: #05c3ff;
    font-size: 30px;
    color: #101c2c;
}

#gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 43px;
    color: white;
}

#restart {
    
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    transition: background, border, color .6s;
}

#restart:active {
    font-size: 19px;
    margin-top: 11px;
}

#restart:hover {
    background-color: white;
    border: solid 2px green;
    color: green;
    padding: 8px;
    box-sizing: border-box;
}

#gameBoard {
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 700px) {
    .card {
        width: 130px;
        height: 130px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s;

    }

    #gameOver{
        font-size: 35px;
    }

}

@media (max-width: 600px) {
    .card {
        width: 110px;
        height: 110px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s;

    }

    #gameOver{
        font-size: 30px;
    }

    img{
        height: 80px;
    }

}

@media (max-width: 500px) {

    .card {
        width: 90px;
        height: 90px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s;

    }

    #gameOver{
        font-size: 20px;
    }


    img{
        height: 60px;
    }

    .card-back {
        font-size: 20px;
    }

}

@media (max-width: 425px) {

    .card {
        width: 80px;
        height: 80px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s;
    }

    .card-back {
        font-size: 14px;
    }

}

@media (max-width: 390px) {

    .card {
        width: 70px;
        height: 70px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s;

    }
    img{
        height: 50px;
    }

    .card-back {
        font-size: 14px;
    }


}

@media (max-width: 340px) {

    .card {
        width: 60px;
        height: 60px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s;

    }
    img{
        height: 40px;
    }



}